$white: #ffffff;
$black: #000000;
$ligher-black: #1a202c;
$ligh-blue: #00dbde;
$pink: #fc00ff;
$cyan: #00dbde;
$card-bg: #333c66;
$card-dark-bg: #212534;
$almost-black: #1a202c;
$red: #f51212;
$dark-blue: #2c3863;
$dark-purple: #4e00c2;
$lighter-dark-blue: #576295;
$text-shadow: rgba(0, 0, 0, 0.25);
